body {
    font-family: 'Bahnschrift';
    margin: 0;
}

header {
    max-width: 100%;
}

nav {
    position: fixed;
    display: flex;
    background: linear-gradient(to bottom right, #000000, #333333);
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
}

a {
    text-decoration: none;
}

.logo-container {
    display: block;
    width: 90px;
    transition: transform 0.3s;
}

.logo-container:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-inline: 5%;
}

nav ul li {
    display: flex;
    flex-direction: column;
}

nav ul li a {
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, font-weight 0.3s;
}

nav ul li a:hover {
    color: #ff0000;
    font-weight: bold;
    transform: scale(1.2);
}

.login-button {
    color: #ffffff;
    font-size: 20px;
    max-width: 100%;
    width: 1%;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 50px;
    transition: transform 0.3s, color 0.3s, font-weight 0.3s, box-shadow 0.3s;
}

.login-button img {
    width: 20px;
    height: 20px;
    transform: scale(3);
}

.login-button:hover {
    color: #ff0000;
    font-weight: bold;
    box-shadow: 6px 4px 9px #ffffffff;
    transform: scale(1.2);
}

.current {
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    cursor:grabbing;
    font-style: oblique;
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    margin: 0;
}

.banner {
    max-width: 100%;
    height: 30vh;
    margin-top: 8.5%;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    object-fit: cover;
    padding-inline: 10%;
    background: linear-gradient(to bottom right, #d80000, #000000);
}

.banner h2 {
    font-family: 'Bahnschrift Light';
    color: #ffffff;
    margin: 10px 0px 0px 0px;
    padding: 40px 50px;
}

.banner p {
    font-size: 45px;
    font-family: 'Bahnschrift Light';
    font-style: italic;
    color: #ffffff;
    margin: 0;
    padding: 10px 30px;
}

.banner hr {
    max-width: 100%;
    width: 100%;
    background-color: #ffffff;
    margin: -10px 10px 10px;
}

.fighter-profiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin-inline: 5%;
    gap: 80px;
}

.fighter-profile {
    position: relative;
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom left, #666, #000000);
    width: 100%;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s, background-color 0.3s;
}

.fighter-profile img {
    width: 50%;
    margin: 0;
}

.profile-header {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.fighter-profile h2 {
    margin: 0;
}

.fighter-profile sup {
    color:#ff0000;
    font-style: italic;
}

.fighter-profile sub {
    font-size: 15px;
    font-style: italic;
}

.extra {
    background: linear-gradient(to bottom right, #000000, #333333);
    border-radius: 10px;
    border: 0px;
    border-collapse: collapse;
    width: 100%;
}


.extra tr h3 {
    border-bottom: #ff0000 solid;
}

.extra tr {
    text-align: center;
    padding-inline: 10px;
    margin: 0;
}

.extra p {
    font-size: 18px;
    margin-block: 10px;
}

.extra img {
    width: 50px;
    margin: 0;
    padding: 0;
}

.show {
    display: block;
    background: linear-gradient(to bottom right, #000000, #333333);
    padding: 8px;
    color : #ffffff;
    font-size: 25px;
    font-family: 'Bahnschrift Light';
    font-style: italic;
    border-radius: 5px;
    border: 0px;
    margin-block-start: 20px;
    transition: background 0.3s, transform 0.3s;
    cursor: pointer;
}

.show:hover {
    background: linear-gradient(to bottom right, #ff0000, #333333);
    transform: scale(1.03);
}

.fighter-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: justify;
    right: 0px;
    top: 200px;
    max-height: 0px;
    opacity: 0;
    background: linear-gradient(to bottom right, #222, #000);
    border-radius: 10px;
    box-shadow: 0 8px 24px #00000066;
    padding: 20px;
    padding-bottom: 260px;
    pointer-events: none;
    z-index: 1;
    transition: max-height 0.5s ease, top 0.5s ease, opacity 0.5s ease;
}

.fighter-info.active {
    max-height: 500px;
    pointer-events: auto;
    z-index: 1;
    top: 205px;
    opacity: 1;
}

.fighter-stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 20px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom right, #000000, #333333);
    color: #ffffff;
    padding:20px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.stat h3 {
    color: #ff0000;
    font-style: italic;
}

.stat p {
    margin: 5px;
    font-size: 20px;
}

.stat h2 {
    border: #ff0000 solid;
    border-inline: 0px;
    border-top: 0px;
    font-style: italic;
    margin-bottom: 10px;
    padding-inline: 10px;
    padding-block: 5px;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    background: linear-gradient(to bottom right, #000000, #333333);
    color: #ffffff;
    padding: 20px;
    margin-top: 500px;
}

footer a {
    color: #a8a8a8;
    transition: transform 0.3s, color 0.3s, font-weight 0.3s;
}

footer a:hover {
    color: #ff0000;
    font-weight: bold;
    transform: scale(1.2);
}