body {
    font-family: 'Bahnschrift';
    margin: 0;
}

header {
    max-width: 100%;
}

nav {
    position: fixed;
    display: flex;
    background: linear-gradient(to bottom right, #000000, #333333);
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
    z-index: 1000;
}

a {
    text-decoration: none;
}

.logo-container {
    display: block;
    width: 90px;
    transition: transform 0.3s;
}

.logo-container:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin-inline: 5%;
}

nav ul li {
    display: flex;
    flex-direction: column;
}

nav ul li a {
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s, font-weight 0.3s;
}

nav ul li a:hover {
    color: #ff0000;
    font-weight: bold;
    transform: scale(1.2);
}

.login-button {
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 20px;
    transition: transform 0.3s, color 0.3s, font-weight 0.3s;
}

.login-button:hover {
    color: #ff0000;
    font-weight: bold;
    transform: scale(1.2);
}

.current {
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 20px;
    cursor:grabbing;
    font-style: oblique;
    text-decoration: underline;
}

.login-button {
    color: #ffffff;
    font-size: 20px;
    max-width: 100%;
    width: 1%;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 50px;
    transition: transform 0.3s, color 0.3s, font-weight 0.3s, box-shadow 0.3s;
}

.login-button img {
    width: 20px;
    height: 20px;
    transform: scale(3);
}

.login-button:hover {
    color: #ff0000;
    font-weight: bold;
    box-shadow: 6px 4px 9px #ffffffff;
    transform: scale(1.2);
}

hr {
    border: 0;
    height: 1px;
    margin: 0;
}

.banner {
    max-width: 100%;
    height: 30vh;
    margin-top: 8.5%;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    object-fit: cover;
    padding-inline: 10%;
    background: linear-gradient(to bottom right, #d80000, #000000);
}

.banner h2 {
    font-family: 'Bahnschrift Light';
    color: #ffffff;
    margin: 10px 0px 0px 0px;
    padding: 40px 50px;
}

.banner p {
    font-size: 45px;
    font-family: 'Bahnschrift Light';
    font-style: italic;
    color: #ffffff;
    margin: 0;
    padding: 10px 30px;
}

.banner hr {
    max-width: 100%;
    width: 100%;
    background-color: #ffffff;
    margin: -10px 10px 10px;
}

.forum-posts {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    padding: 20px;
    margin-inline: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.forum-post {
    display: flex;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.forum-post img {
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin-right: 15px;
}

.forum-post:hover {
    transform: scale(1.01);
}

.username {
    font-size: 1.1em;
    font-weight: bold;
    color: #333;
}

.post-content {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 10px;
}

.timestamp {
    font-size: 0.8em;
    color: #999;
}

.forum-info hr {
    max-width: 100%;
    width: 70%;
    background-color: #999;
    margin-top: -10px;
}

.forum-header {
    display: flex;
    align-items: center;
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 20%);
    background: linear-gradient(to bottom right, #000000, #333333);;
    color: #ffffff;
    padding: 20px;
}

footer a {
    color: #a8a8a8;
    transition: transform 0.3s, color 0.3s, font-weight 0.3s;
}

footer a:hover {
    color: #ff0000;
    font-weight: bold;
    transform: scale(1.2);
}

.options-container {
    display: none;
    align-items: center;
    gap: 10px;
    margin: 30px 30px 10px 30px;
    font-size: 18px;
    z-index: 10;
    background: #fff;
    padding: 20px 20px;
    border-radius: 8px;
    box-shadow: 0 8px 8px #00000012;
}

.post {
    font-family: 'Bahnschrift';
    font-style: italic;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background: linear-gradient(to bottom right, #000000, #333333);
    color: white;
    padding: 15px;
    cursor: pointer;
    transition: background 0.5s, transform 0.4s ease;
}

.post:hover {
    background: linear-gradient(to right bottom, #d80000, #000000);
    transform: scale(1.1);
}