body {
    font-family: 'Bahnschrift';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-inline: 10%;
    background: url('../../resources/images/octagon_background.jpg') no-repeat center center fixed;
    background-size: cover;
}

header {
    max-width: 100%;
}

nav {
    position: fixed;
    display: flex;
    background: linear-gradient(to bottom right, #000000, #333333);
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}

.logo-container {
    display: block;
    width: 90px;
    transition: transform 0.3s;
}

.logo-container img {
    filter: brightness(0) invert(1);
    width: 100%;
}
.logo-container:hover {
    transform: scale(1.1);
}

h1 {
    font-family: 'Bahnschrift Light';
}

.form-container {
    display: flex;
    flex-direction: column;
    padding-inline: 5%;
    border-radius: 20px;
    padding-block-start: 4%;
    margin-right: 60%;
    background: linear-gradient(to bottom right, #000000, #333333);
    opacity: 0.9;
    margin-block: 8%;
    color: #ffffff;
}

.form-group {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}

.label-group{
    display: flex;
    flex-direction: row;
    margin: 5px 0;
}

.label-group label[for="user"] {
    margin-right: 125px;
}

label:hover {
    cursor: pointer;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    font-family: 'Consolas', monospace;
    width: 100%;
    padding-block: 10px;
    margin: 10px 0;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    box-shadow: 0 0 30px #acacac;
}

input[type="submit"] {
    font-family: 'Bahnschrift';
    background: linear-gradient(to left top, #000000, #333333);
    color: #ffffff;
    font-size: 20px;
    padding: 10px 170px;
    border-radius: 5px;
    border: none;
    margin-block-start: 5%;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

input[type="submit"]:hover {
    background: linear-gradient(to right bottom, #00b7c4, #004d5d);
    transform: scale(1.03);
}

hr {
    border: none;
    height: 1px;
    margin-block: 10px 20px;
    background-color: #ffffff;
}

.form-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block: 5%;
}

/* Pantallas muy grandes (1440px y superiores) */
@media screen and (min-width: 1440px) {
    body {
        font-size: 18px;
    }
 
    nav {
        width: 100%;
    }
}

/* Telefonos (max 678px) */
@media screen and (max-width: 678px) {
    body {
        display: flex;
        font-size: 12px;
        align-items: center;
        justify-content: center;
    }

    .form-container {
        margin-right: 0;
        padding: 10%;
    }
}

/* Tablets y Pantallas medianas (max 1440px) */
@media screen and (max-width: 1440px) {
    body {
        font-size: 16px;
    }
}