<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/aboutus.css">
    <title>Knockout Zone - About Us</title>
    <link rel="icon" href="../resources/images/logolightbig.png" sizes="256x256">
</head>

<body>
    <div>
        <div class="title">ABOUT US</div>
        <hr>
        <article>
            <section class="center">
                <h1>WHO WE ARE</h1>
                <p>We’re KnockOut Zone, and we’ve been bringing UFC fans closer to the sport since 2025.</p>
                <p>Our website is about streaming UFC combat events, providing trending content and news for fans of the
                    sport, and selling tickets for upcoming fights.</p>
            </section>
            <section class="right">
                <h1>WHY WE EXIST</h1>
                <p>We love UFC, and we believe it would be easy and fun to watch fights, read news, and buy tickets online.</p>
                <p> This is why we created this website to offer fans a place where they can enjoy everything about the sport.</p>
            </section>

            <section class="left">
                <h1>WHAT WE DO</h1>
                <p>We would like to share UFC Combat events to make them more visible for everyone and make people
                    like it,
                    because sharing our passion into the UFC can be amazing.</p>
                <p>We also want to improve the website by adding live fight updates, simple stats, a forum for fans
                    to talk,
                    a timeline with fighter history, fun quizzes, videos of the best moments, and an easy way to buy
                    tickets.</p>
            </section>
        </article>
        <div class="title">OUR MISSION VISION VALUES</div>
        <hr>
        <article class="mvv">
            <aside>
                <h1>MISSION</h1>
                <p>Our goal is to bring UFC fans closer to the sport by streaming fights, sharing news, and selling
                    tickets.</p>
                <p>We want to create a fun and easy way for people to enjoy UFC.</p>
            </aside>
            <aside>
                <h1>VISION</h1>
                <p>We want to become the leading website for UFC fans, offering a platform where they can watch fights,
                    learn about fighters, and talk with other fans.</p>
                <p>Hoping to make UFC more popular and exciting for everyone.</p>
            </aside>
            <aside>
                <h1>VALUES</h1>
                <p>We provide UFC fans the ultimate experience. We offer a fun and friendly place to talk about fights.
                </p>
                <p>We make it easy to watch UFC and buy tickets. Our team works hard to improve the site all the time.
                </p>
                <p>We always share real, exciting, and up-to-date UFC content.</p>
            </aside>
        </article>
        <div class="title">OUR MEMBERS</div>
        <hr>
        <article class="members">
            <aside>
                <img src="../resources/images/aboutus/patrick.jpg" alt="Pat">
                <h1>Jean Patrick Esquibal Surop</h1>
                <p></p>
            </aside>
            <aside>
                <img src="../resources/images/aboutus/victor.jpeg" alt="Victor">
                <h1>Jiahao Liu</h1>
                <p></p>
            </aside>
            <aside>
                <img src="../resources/images/aboutus/" alt="Biel">
                <h1>Biel Laguna Calcerra</h1>
                <p></p>
            </aside>
        </article>
    </div>
</body>

</html>