<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - Knockout Zone</title>
    <link rel="stylesheet" href="css/forum.css">
    <link rel="icon" href="../resources/images/logolightbig.png" sizes="256x256">
</head>

<body>
    <div>
        <header>
            <nav>
                <a href="home.html" class="logo-container">
                    <img class="logo-container" src="../resources/images/logolight.png" alt="Knockout Zone Logo">
                </a>
                <ul class="nav-list">
                    <li><a href="store.html">STORE</a></li>
                    <li class="current">FORUM</a></li>
                    <li><a href="events.php">EVENTS</a></li>
                    <li><a href="fighters.html">FIGHTERS</a></li>
                </ul>
                <a href="profile.php" class="login-button">
                    <img src="../resources/profiles/default-profile.png" alt="Default Profile Picture">
                </a>
            </nav>
        </header>
        <hr>
        <div class="banner">
            <h2>COMMUNITY FORUM</h2>
            <hr>
            <p>Join the discussion and connect with fellow fans!</p>
        </div>
        <hr>
        <div class="options-container">
            <button type="submit" class="post">CREATE POST</button>
        </div>
        <article class="forum-posts">
            <section class="forum-post">
                <a href="#">
                    <div class="forum-header">
                        <img src="../resources/profiles/default-profile.png" alt="User Profile">
                        <span class="timestamp">Posted on May 12, 2025, at 10:30 AM</span>
                    </div>
                    <div class="forum-info">
                        <h3 class="username">JohnDoe123</h3>&nbsp;
                        <hr>
                        <p class="post-content">What are your thoughts on the upcoming UFC 315 event? I'm super excited
                            to see Muhammad vs. Maddalena!</p>
                    </div>
                </a>
            </section>
            <section class="forum-post">
                <a href="#">
                    <div class="forum-header">
                        <img src="../resources/profiles/default-profile.png" alt="User Profile">
                        <span class="timestamp">Posted on May 11, 2025, at 9:15 PM</span>
                    </div>
                    <div class="forum-info">
                        <h3 class="username">FightFan99</h3>&nbsp;
                        <hr>
                        <p class="post-content">I can't wait for the Pantoja vs. Asakura fight! Who do you think will
                            win?</p>
                    </div>
                </a>
            </section>
            <section class="forum-post">
                <a href="#">
                    <div class="forum-header">
                        <img src="../resources/profiles/default-profile.png" alt="User Profile">
                        <span class="timestamp">Posted on May 10, 2025, at 8:00 PM</span>
                    </div>
                    <div class="forum-info">
                        <h3 class="username">MMA_Expert</h3>&nbsp;
                        <hr>
                        <p class="post-content">The fight card for UFC 315 looks amazing! Can't wait to see all the
                            action!</p>
                    </div>
                </a>
            </section>
            <section class="forum-post">
                <a href="#">
                    <div class="forum-header">
                        <img src="../resources/profiles/default-profile.png" alt="User Profile">
                        <span class="timestamp">Posted on May 9, 2025, at 7:45 PM</span>
                    </div>
                    <div class="forum-info">
                        <h3 class="username">KnockoutKing</h3>&nbsp;
                        <hr>
                        <p class="post-content">I think the main event is going to be a knockout! Who's your pick?</p>
                    </div>
                </a>
            </section>
        </article>
        <footer>
            <div>
                <h3>KNOCKOUT ZONE</h3>
                <p><a href="aboutus.html">About us</a></p>
            </div>
            <div>
                <h3>SOCIAL MEDIA</h3>
                <p>Facebook</p>
                <a href="https://www.facebook.com">Knockout Zone Official</a>
                <p>Instagram</p>
                <a href="https://www.instagram.com">@knck_zn</a>
                <p>X (Twitter)</p>
                <a href="https://x.com">@knockout.zone</a>
            </div>
            <div>
                <h3>CONTACT US</h3>
                <p>knockoutzone@gmail.com</p>
                <p>123 456 7890</p>
            </div>
        </footer>
    </div>
</body>

</html>