<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Knockout Zone</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="../resources/images/logolightbig.png" sizes="256x256">
</head>

<body>
    <div>
        <header>
            <nav>
                <ul class="nav-list">
                    <li><a href="vlogin.php">STORE</a></li>
                    <li><a href="vlogin.php">FORUM</a></li>
                    <li><a href="vlogin.php">EVENTS</a></li>
                    <li><a href="vlogin.php">FIGHTERS</a></li>
                </ul>
                <a href="vlogin.php" class="login-button">LOGIN</a>
            </nav>
        </header>
        <div class="banner">
            <div class="banner-slideshow">
                <div class="banner-slide">
                    <video src="../resources/videos/knockout-zone-video.mp4" loop autoplay muted
                        poster="../resources/images/evento.jpg"></video>

                    <div class="banner-text">
                        <h3>EXPLORE - CONNECT - WATCH</h3>
                        <hr>
                        <h2>Feel the heat of action closer to you</h2>
                    </div>
                </div>
                <div class="banner-slide">
                    <img src="../resources/images/jiripeleador.jpg">
                    <div class="banner-text">
                        <h3>EXPLORE</h3>
                        <hr>
                        <h2>The exciting world of UFC</h2>
                    </div>
                </div>
                <div class="banner-slide">
                    <img src="../resources/images/training.jpg">
                    <div class="banner-text">
                        <h3>CONNECT</h3>
                        <hr>
                        <h2>To the world with other fans</h2>
                    </div>
                </div>
                <div class="banner-slide">
                    <img src="../resources/images/victory.jpg">
                    <div class="banner-text">
                        <h3>WATCH</h3>
                        <hr>
                        <h2>Intensive combats on live</h2>
                    </div>
                </div>
            </div>
            <button class="banner-arrow left" onclick="changeSlide(-1)">&#10094;</button>
            <button class="banner-arrow right" onclick="changeSlide(1)">&#10095;</button>
        </div>
        <div>
            <div class="title">DISCOVER</div>
            <hr>
            <article>
                <section>
                    <a href="vlogin.php">
                        <img src="../resources/images/pantojasakura.jpg" alt="">
                        <hr>
                        <h3>EVENT</h3>
                        <h2>PANTOJA VS. ASAKURA</h2>
                        <span>Japan on the hunt for Gold</span>
                    </a>
                </section>
                <aside>
                    <section>
                        <a href="vlogin.php">
                            <img src="../resources/images/kattarclip.jpg" alt="">
                            <hr>
                            <h3>EVENT</h3>
                            <h2>UFC VEGAS 102 KATTAR</h2>
                            <span></span>
                        </a>
                    </section>
                    <section>
                        <a href="vlogin.php">
                            <img src="../resources/images/dircusevent2.jpg" alt="">
                            <hr>
                            <h3>EVENT</h3>
                            <h2>DRICUS DU PLESSIS</h2>
                            <span>Super fight on sight?</span>
                        </a>
                    </section>
                </aside>
                <aside>
                    <section>
                        <a href="vlogin.php">
                            <img src="../resources/images/training.jpg" alt="">
                            <hr>
                            <h3>FORUM</h3>
                            <h2>SHARE YOUR OPINIONS</h2>
                            <span></span>
                        </a>
                    </section>
                    <section>
                        <a href="vlogin.php">
                            <img src="../resources/images/shop/bag.png" alt="">
                            <hr>
                            <h3>STORE</h3>
                            <h2>CHECK OUR MERCH</h2>
                            <span></span>
                        </a>
                    </section>
                </aside>
                <section>
                    <a href="vlogin.php">
                        <img src="../resources/images/victory.jpg" alt="">
                        <hr>
                        <h3>FIGHTERS</h3>
                        <h2>KNOW MORE ABOUT THEM!</h2>
                        <span>Take a look at their profiles</span>
                    </a>
                </section>
                <section>
                    <a href="vlogin.php">
                        <img src="../resources/images/adesanyaclip.jpg" alt="">
                        <hr>
                        <h3>STORE</h3>
                        <h2>[PLACEHOLDER]</h2>
                        <span>[PLACEHOLDER]</span>
                    </a>
                </section>
                <section>
                    <a href="vlogin.php">
                        <img src="../resources/images/dircusevent.jpg" alt="">
                        <hr>
                        <h3>FIGHTERS</h3>
                        <h2>[PLACEHOLDER]</h2>
                        <span>[PLACEHOLDER]</span>
                    </a>
                </section>
            </article>
        </div>
        <footer>
            <div>
                <h3>KNOCKOUT ZONE</h3>
                <p><a href="aboutus.html">About us</a></p>
            </div>
            <div>
                <h3>SOCIAL MEDIA</h3>
                <p>Facebook</p>
                <a href="https://www.facebook.com">Knockout Zone Official</a>
                <p>Instagram</p>
                <a href="https://www.instagram.com">@knck_zn</a>
                <p>X (Twitter)</p>
                <a href="https://x.com">@knockout.zone</a>
            </div>
            <div>
                <h3>CONTACT US</h3>
                <p>knockoutzone@gmail.com</p>
                <p>123 456 7890</p>
            </div>
        </footer>
    </div>
    <script src="js/index.js">
    </script>
</body>

</html>